*{
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url("background.jpg");
    background-attachment:fixed;
	background-position:center;	
	background-size:cover;
    background-origin:border-box;
    background-repeat: no-repeat;
}

div .card{
    border-radius: 30px; 
    box-shadow: 0 15px 25px rgba(134, 134, 134, 0.3);
}

.need{
    color: red;
}

.bg-custom{
    background-color: rgba(255, 255, 255, 0.8);
}


@media only screen and (max-width: 768px){
    a.dangxuat{
        font-size: 15px;
        margin-top: 30px;
    }

    .form-them-khach{
        margin-top: 30px;
    }
}